@use '../../../../styles.scss' as *;

.order {
    user-select: none;
    

    &__quantity {
        outline: none;
        border: 1px solid $color-gray-light-3;
        border-radius: 10rem;
        height: 2.5rem;
        margin: 0 .5rem;
        width: 4rem;
        text-align: center;
        color: $color-gray-dark-3;

        &::-webkit-inner-spin-button {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: textfield;
        }
    }

    &__button {
        height: 1.8rem;
        width: 1.8rem;
        font-size: 1.5rem;
        line-height: 1;
        color: $color-white;
        border-radius: 50%;
        box-shadow: 0 0 .5rem rgba($color-black, .2);
        background-color: $color-white;
        color: $color-black;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
