// Leading colors
$primary-light: #ee9295;
$primary:       #E8696D;
$primary-dark:  #e7484d;

// Monochromatic
$gray-light-1:  #f3f3f3;

$gray-dark-1:   #999;
$gray-dark-2:   #777;
$gray-dark-3:   #333;

$white:         #fff;
$black:         #000;
