@use '../helpers/mixins' as *;
@use '../helpers/colors' as c;
@use '../helpers/gradients' as g;

/* Global reset */
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: inherit;
}

button {
    cursor: pointer;
}

/* Styles */
$scale: 1;

html {
    font-size: $scale * 62.5%;

    @include respond(tab-land) {
        font-size: $scale * 56.25%;
    }

    @include respond(tab-port) {
        font-size: $scale * 50%;
    }

    @include respond(big-desktop) {
        font-size: $scale * 75%;
    }
}

body {
    overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 1.5rem;

    &-thumb {
        background: g.$primary;
    }

    &-track {
        background-color: c.$gray-dark-1;

        &:hover {
            background-color: c.$gray-dark-2
        }
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}