@use '../helpers/colors' as c;

.gallery-slider {
    padding: 1.25rem 1.5rem;
    position: absolute;
    background-color: rgba(c.$gray-dark-1, .5);
    border-radius: 10rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    
    &__dots {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        height: 100%;
    }

    &__dot {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: rgba(c.$gray-light-3, .75);
        box-shadow: 0 0 .5rem rgba(c.$black, .5);
        transition: all .3s ease;
        cursor: pointer;

        &.active,
        &:hover {
            background-color: c.$gray-light-1;
        }
    }
}