<app-header 
  [heading]="'Home'"
></app-header>

<section class="content">
  <h3 class="content__heading">Some heading</h3>
  <p class="content__paragraph">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate quisquam ipsam, commodi praesentium qui libero animi sint adipisci id quia nemo soluta culpa laboriosam. Doloribus deleniti pariatur quidem quis libero.
  </p>
  <p class="content__paragraph">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus earum aliquam unde ab possimus recusandae inventore est in accusamus dicta quasi, reiciendis atque numquam fugiat quidem incidunt aut cupiditate tempora laboriosam, totam veritatis, delectus repellendus. Ad aut, a eos, quo ab dolor quaerat commodi, fuga tempora architecto officiis vel. Aut?
  </p>
  <p class="content__paragraph">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem recusandae modi, earum culpa hic fugiat, at molestias eius quam perferendis eligendi quod explicabo voluptatum nobis soluta cumque accusantium, delectus sit veniam quas perspiciatis temporibus. Aliquid pariatur, voluptate, itaque quas dolore accusantium minima repudiandae adipisci tempora tempore nostrum officiis explicabo cum vitae! Sint, saepe sit delectus atque temporibus deserunt eius quis.
  </p>
  <p class="content__paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A aperiam fugit odit vero nobis ea officiis nostrum asperiores debitis quasi qui, officia quo consequatur architecto porro libero quisquam vitae assumenda earum! Ipsam magni nemo facilis quos, reiciendis pariatur aspernatur voluptas inventore id nostrum ipsa ad?
  </p>
  <p class="content__paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consequatur distinctio laboriosam tempore maiores delectus adipisci soluta repudiandae error earum neque enim quae autem, ullam, vero recusandae ad suscipit tenetur dolor magnam. Necessitatibus, obcaecati voluptatibus?
  </p>
  <p class="content__paragraph">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, pariatur esse ut dolore vel officiis, molestiae, explicabo maiores laboriosam iure repellendus. Unde consequuntur quibusdam, dolorem harum itaque molestias fuga quia.
  </p>
</section>
