@use '../helpers/mixins' as *;
@use '../helpers/colors' as c;

.filters {
    &__list {
        list-style: none;
        display: flex;
        align-items: stretch;
        gap: 2rem;
        margin: 0 auto;
        margin-bottom: 6rem;
        
        & > * {
            flex: 1 1 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;

        &--pages,
        &--reset {
            flex: 0 0 0;
        }

        &--pages {
            .btn-select__select {
                width: 7.5rem;
            }
        }
    }

    &__button {
        cursor: pointer;
        border: none;
        outline: none;
        width: max-content;

        &--reset {
            font-size: 1.6rem;
            font-family: Poppins, Arial, Helvetica, sans-serif;
            padding: 1.2rem;
            border-radius: 10rem;
            background-color: c.$white;
            box-shadow: 0 0 1rem rgba(c.$black, .2);
        }
    }

    &__text {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        margin-left: .5rem;
    }

    &__range {
        padding-bottom: 1rem;
    }

    @include respond(tab-port) {
        flex-direction: column;
        max-width: 50rem;
        gap: 4rem;

        & > * {
            width: 100%;
            max-width: 100%;
        }
    }
}