@use '../helpers/sizes' as s;

.gallery {
    padding-top: s.$nav-bar-height;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: sticky;
    top: 0;

    &__images {
        &-list {
            height: 100%;
            list-style: none;
            display: inline-flex;
            transition: transform .3s ease-out;
            cursor: grab;
        }

        &-item {
            height: 100%;
            width: 40vw;
            position: relative;
            user-select: none;
        }
    }
}
