@use '../helpers/colors' as c;
@use '../helpers/mixins' as *;

.scroll-top-btn {
    position: fixed;
    z-index: 2000;
    bottom: 10rem;
    right: -.5rem;
    background-color: c.$gray-dark-3;
    width: 5rem;
    height: 5rem;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    box-shadow: 0 0 .5rem rgba(c.$black, .5),
                inset 0 0 1rem rgba(c.$black, .7);
    border: .5rem solid c.$primary;
    transition: opacity .3s;
    overflow: hidden;

    @include flex-center;

    span {
        width: 100%;
        height: 100%;
        @include flex-center;

        &::before,
        &::after {
            content: '';
            height: .4rem;
            width: 30%;
            border-radius: 5rem;
            background-color: c.$white;
            z-index: 1;
            transition: all .2s ease-in-out;
        }

        &::before {
            transform: translateX(25%) rotate(-45deg);
        }

        &::after {
            transform: translateX(-25%) rotate(45deg);
        }
    }

    &:hover {
        span {
            animation: to-top-btn 1s;

            &::before {
                transform: translateX(30%) rotate(-60deg);
            }

            &::after {
                transform: translateX(-30%) rotate(60deg);
            }
        }
    }
}
