<section class="details">
  <div class="details__wrapper">
    <ul class="details__list">
      <li class="details__detail">
        <p class="details__detail-name">Kuchnia</p>
        <p class="details__detail-value">{{ dish.cuisine | uppercase }}</p>
      </li>
      <li class="details__detail">
        <p class="details__detail-name">Typ</p>
        <p class="details__detail-value">{{ dish.type }}</p>
      </li>
      <li class="details__detail">
        <p class="details__detail-name">Kategoria</p>
        <p class="details__detail-value">{{ dish.category }}</p>
      </li>
    </ul>
    <ng-content></ng-content>
  </div>

  <div class="details__ingredients">
    <h4 class="details__heading details__heading--ingredients">Składniki</h4>
    <ul class="details__ingredients-list">
      <li class="details__ingredient" *ngFor="let ingredient of dish.ingredients">
        {{ ingredient }}
      </li>
    </ul>
  </div>

  <div class="details__description">
    <h4 class="details__heading details__heading--description">Opis</h4>
    <p class="details__description-text">{{ dish.description }}</p>
  </div>

  <div class="details__more">
    <a href="#" class="details__button" role="button" title="Zobacz więcej szczegółów">Więcej szczegółów
      &rarr;</a>
  </div>
</section>
