$black: #000;
$white: #fff;

$gray-light-1: #f7f7f7;
$gray-light-2: #eee;
$gray-light-3: #d6d6d6;

$gray-dark-1: #777;
$gray-dark-2: #999;
$gray-dark-3: #333;
$gray-dark-4: #151515;

$primary: #db7c25;
$primary-light: #dba12e;
$primary-dark: #ab3312;

// Setting background color
$background-color: $gray-light-1;

