// Page content
$max-content-width: 150rem;

// navbar
$nav-height: 6rem;
$nav-height-open: 50rem;
$nav-toggle-bar: 3px;

// footer
$footer-height: 50rem;
$footer-list-height: 6rem;
$max-buttons-width: 60rem;
