<article class="post">
  <header class="post__header">
    <h2 class="post__heading">{{ post.title }}</h2>
  </header>
  <section class="post__body">
    <p class="post__paragraph">{{ post.body }}</p>
  </section>
  <footer class="post__footer">
    <p class="post__group">
      <span class="post__group-name">ID posta: </span>
      <span class="post__group-value">{{ post.id }}</span>
    </p>
    <p class="post__group">
      <span class="post__group-name">ID użytkownika: </span>
      <span class="post__group-value">{{ post.userId }}</span>
    </p>
  </footer>
</article>
