<main class="dish-page" *ngIf="this.dish">
  <section class="dish-page__left">
    <app-responsive-gallery
      [images]="dish.images.gallery" [sizes]="'40vw'"
      [alts]="getImagesAlts()"
    ></app-responsive-gallery>
  </section>

  <section class="dish-page__right">
    <a class="dish-page__button dish-page__button--back"
      routerLink="..">
      &larr; Powrót do listy dań
    </a>

    <h3 class="dish-page__heading dish-page__heading--main heading-primary">{{ dish.name }}</h3>
    
    <section class="dish-page__rating">
      <a class="dish-page__rating-link"
        (click)="onReviewsClick()">
        <div class="dish-page__rating-item">
          <app-rating class="dish-page__rating-component" [(value)]="dish.rating"></app-rating>
        </div>
      </a>
      <div class="dish-page__rating-item">
        <p class="dish-page__rating-count">{{ dish?.ratesCount || 0 }}</p>
        <p class="dish-page__rating-text">{{ getRatingText() }}</p>
      </div>
    </section>

    <section class="dish-page__details">
      <ul class="dish-page__details-list">
        <li class="dish-page__detail">
          <p class="dish-page__detail-name">Kuchnia</p>
          <p class="dish-page__detail-value">{{ dish.cuisine | uppercase }}</p>
        </li>
        <li class="dish-page__detail">
          <p class="dish-page__detail-name">Typ</p>
          <p class="dish-page__detail-value">{{ dish.type }}</p>
        </li>
        <li class="dish-page__detail">
          <p class="dish-page__detail-name">Kategoria</p>
          <p class="dish-page__detail-value">{{ dish.category }}</p>
        </li>
      </ul>
    </section>

    <section class="dish-page__price">
      <app-price
        [amount]="currencyService.calcDishCurrentPrice(dish)"
        [currency]="currencyService.getCurrentCurrencySymbol()"
      ></app-price>
    </section>
    
    <section class="dish-page__order">
      <app-dish-quantity [dish]="dish"></app-dish-quantity>
      <app-dish-order class="dish-page__order-component" [dish]="dish"></app-dish-order>
      <a class="dish-page__button dish-page__button--order" routerLink="/cart">
        Pokaż koszyk
      </a>
    </section>

    <section class="dish-page__ingredients">
      <h4 class="dish-page__heading dish-page__heading--ingredients">Składniki</h4>
      <ul class="dish-page__ingredients-list">
        <li class="dish-page__ingredient" *ngFor="let ingredient of dish.ingredients">
          {{ ingredient }}
        </li>
      </ul>
    </section>
    
    <section class="dish-page__description">
      <h4 class="dish-page__heading dish-page__heading--description">Opis</h4>
      <div class="dish-page__description-text">
        <p class="dish-page__description-paragraph" *ngFor="let paragraph of dish.description">{{ paragraph }}</p>
      </div>
    </section>

    <section class="dish-page__reviews">
      <h4 class="dish-page__heading dish-page__heading--reviews">Recenzje</h4>
      <router-outlet></router-outlet>
      <app-reviews [reviews]="dish.reviews"></app-reviews>
    </section>
  </section>
</main>
