@use '../../../styles.scss' as *;

@keyframes animate-wrapper {
    to {
        background-color: rgba($color-black, .8);
        pointer-events: all;
    }
}

@keyframes animate-popup {
    from {
        transform: scale(.2);
        opacity: 0;
    }
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
    background: transparent;
    transition: all .3s;
    @include flex-center;
    animation: animate-wrapper .3s ease-out forwards;
}

.popup {
    background-color: $color-gray-light-1;
    border-radius: .5rem;
    padding: 6rem 3rem 2rem 3rem;
    position: relative;
    width: 50rem;
    max-width: 90vw;
    box-shadow: 0 0 3rem rgba($color-black, .5);
    animation: animate-popup .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards;
}

.create {
    &__header {
        width: max-content;
        padding: 1rem 2rem;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -3rem;
        background: $gradient-primary;
        box-shadow: 0 0 1rem rgba($color-black, .35);
    }

    &__heading {
        font-family: Poppins, Arial, Helvetica, sans-serif;
        color: $color-white;
        font-size: 2.4rem;
        text-shadow: 0 0 1.5rem rgba($color-black, .6);
    }

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &--close {
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            filter: drop-shadow(0 0 .3rem rgba($color-black, .25));
            transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                transform: rotate(270deg);
            }
        }

        &-icon {
            width: 100%;
            height: 100%;
        }
    }
}

.form {
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        padding: 0 2rem;
    }

    &__item {
        width: 100%;
    }

    &__label {
        display: block;
        font-size: 1.6rem;
        color: $color-gray-dark-1;
        margin-bottom: .5rem;
    }

    &__input,
    &__textarea {
        width: 100%;
        border: 1px solid $color-gray-light-4;        
        padding: .75rem 1.5rem;
        border-radius: 1rem;
        outline: none;
    }

    &__textarea {
        resize: vertical;
        max-height: 25rem;
        min-height: 5rem;
    }

    &__help {
        color: $color-red;
        margin-top: .5rem;
        font-size: 1.4rem;
    }

    &__buttons {
        width: max-content;
        margin: 3rem auto 1rem auto;
        display: flex;
        gap: 2rem;
    }

    &__button {
        border: none;
        outline: none;
        margin: 0 auto;
        cursor: pointer;

        &--save,
        &--reset {
            descent-override: 1.8rem;
            padding: 1rem 1.5rem;
            font-weight: 700;
            color: $color-white;
            border-radius: 10rem
        }

        &--save {
            background: $gradient-green;
        }

        &--reset {
            background: $gradient-red;
        }

        &[disabled] {
            background: $gradient-gray;
            cursor: not-allowed;
        }
    }
}
