@use '../../styles.scss' as *;

.section-dishes {
    padding: 0 5%;

    @include respond(tab-land) {
        padding: 0 10%;
    }

    @include respond(tab-port) {
        padding: 0 5%;
    }
}

.dishes {
    &__header {
        margin-top: 6rem;
        margin-bottom: 8rem;
    }

    &__heading {
        font-family: Poppins, Arial, Helvetica, sans-serif;
        color: $color-white;
        display: block;
        width: max-content;
        margin: 0 auto;
        font-size: 3.6rem;
        padding: 1rem 2rem;
        text-shadow: 0 0 1.5rem rgba($color-black, .6);
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        @include bg-gradient-primary;
    }
}
