<footer class="footer">
  <div class="footer__content">
    <section class="footer__location">
      <h5 class="footer__heading">
        Lokalizacja
      </h5>
      <ul class="footer__location-list">
        <li class="footer__location-item">ul. Kawiory 21</li>
        <li class="footer__location-item">30-055 Kraków</li>
      </ul>
    </section>
    
    <section class="footer__contact">
      <h5 class="footer__heading">
        Kontakt
      </h5>
      <ul class="footer__contact-list">
        <li class="footer__contact-item">123-456-789</li>
        <li class="footer__contact-item">kontakt@yummyfood.pl</li>
      </ul>
    </section>

    <section class="footer__social">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a class="footer__link">
            <svg class="footer__social-icon">
              <use href="assets/svg/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__link">
            <svg class="footer__social-icon">
              <use href="assets/svg/icons.svg#messenger"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__link">
            <svg class="footer__social-icon">
              <use href="assets/svg/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__link">
            <svg class="footer__social-icon">
              <use href="assets/svg/icons.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__link">
            <svg class="footer__social-icon">
              <use href="assets/svg/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__link">
            <svg class="footer__social-icon">
              <use href="assets/svg/icons.svg#snapchat"></use>
            </svg>
          </a>
        </li>
      </ul>
    </section>
    
    <section class="footer__logo">
      <svg class="footer__logo-icon">
        <use href="assets/svg/logo.svg#logo"></use>
      </svg>
      <div class="footer__logo-text">
        <h3 class="footer__logo-heading footer__logo-heading--primary">
          YummyFood
        </h3>
        <h4 class="footer__logo-heading footer__logo-heading--secondary">
          Blisko, szybko, smacznie
        </h4>
      </div>
    </section>
    
    <section class="footer__hours">
      <h5 class="footer__heading">
        Godziny otwarcia
      </h5>
      <ul class="footer__hours-list">
        <li class="footer__hours-item">
          <span class="footer__hours-day">Poniedziałek</span>
          <span class="footer__hours-time">9:00 - 20:00</span>
        </li>
        <li class="footer__hours-item">
          <span class="footer__hours-day">Wtorek</span>
          <span class="footer__hours-time">9:00 - 20:00</span>
        </li>
        <li class="footer__hours-item">
          <span class="footer__hours-day">Środa</span>
          <span class="footer__hours-time">9:00 - 18:00</span>
        </li>
        <li class="footer__hours-item">
          <span class="footer__hours-day">Czwartek</span>
          <span class="footer__hours-time">9:00 - 20:00</span>
        </li>
        <li class="footer__hours-item">
          <span class="footer__hours-day">Piątek</span>
          <span class="footer__hours-time">9:00 - 21:00</span>
        </li>
        <li class="footer__hours-item">
          <span class="footer__hours-day">Sobota</span>
          <span class="footer__hours-time">11:00 - 20:00</span>
        </li>
        <li class="footer__hours-item">
          <span class="footer__hours-day">Niedziela</span>
          <span class="footer__hours-time">11:00 - 18:00</span>
        </li>
      </ul>
    </section>
  </div>

  <div class="footer__policy">
    <ul class="footer__policy-list">
      <li class="footer__item">
        <a href="#" class="footer__link">Copyright 2022 YummyFood. All rights reserved.</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Terms of Use</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Privacy Policy</a>
      </li>
    </ul>
  </div>
</footer>
