$black: #000;
$white: #fff;

$gray-light-1: #fafafa;
$gray-light-2: #dfdfdf;
$gray-light-3: #ccc;
$gray-light-4: #a3a3a3;

$gray-dark-1: #111;
$gray-dark-2: #333;
$gray-dark-3: #575757;

$primary-light: #f9f5f3;
$primary: #f59483;
$secondary: #fad188;

$red: #e70d68;
$red-light: #f09595;

$green: #098a25;
$green-light: #0de7b8;

$orange: #f55f08; 
$orange-light: #f8b706;

$blue: #365ee2; 
$blue-light: #0cc5fd;
