<div class="slider-container">
  <div class="slider-wrapper">
    <ng-content></ng-content>
    <div class="slider">
      <ul class="slider__list">
        <li class="slider__item">
          <figure class="slider__figure">
            <img class="slider__image" src="https://ik.imagekit.io/MatiPl01/tr:w-600/restaurant/pexels-adonyi-gábor-1400171.jpg" alt="Zdjęcie warzyw">
            <figcaption class="slider__caption">
              <h5 class="slider__heading">
                Świeże składniki
              </h5>
              <p class="slider__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, minus.
              </p>
            </figcaption>
          </figure>
        </li>
  
        <li class="slider__item">
          <figure class="slider__figure">
            <img class="slider__image" src="https://ik.imagekit.io/MatiPl01/tr:w-600/restaurant/pexels-奥尼尔-孙-2871757.jpg" alt="Zdjęcie owoców morza">
            <figcaption class="slider__caption">
              <h5 class="slider__heading">
                Owoce morza
              </h5>
              <p class="slider__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, iusto!
              </p>
            </figcaption>
          </figure>
        </li>
  
        <li class="slider__item">
          <figure class="slider__figure">
            <img class="slider__image" src="https://ik.imagekit.io/MatiPl01/tr:w-600/restaurant/victoria-shes-UC0HZdUitWY-unsplash.jpg" alt="Zdjęcie pieczeni i szaszłyków">
            <figcaption class="slider__caption">
              <h5 class="slider__heading">
                Dania mięsne
              </h5>
              <p class="slider__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, non.
              </p>
            </figcaption>
          </figure>
        </li>
  
        <li class="slider__item">
          <figure class="slider__figure">
            <img class="slider__image" src="https://ik.imagekit.io/MatiPl01/tr:w-600/restaurant/jennifer-schmidt-MRHyv-hHxgk-unsplash.jpg" alt="Zdjęcie dania wegetariańskiego">
            <figcaption class="slider__caption">
              <h5 class="slider__heading">
                Dania wegetariańskie
              </h5>
              <p class="slider__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, eveniet!
              </p>
            </figcaption>
          </figure>
        </li>
  
        <li class="slider__item">
          <figure class="slider__figure">
            <img class="slider__image" src="https://ik.imagekit.io/MatiPl01/tr:w-600/restaurant/marion-botella-uaHShoIDGeo-unsplash.jpg" alt="Orientalne przyprawy">
            <figcaption class="slider__caption">
              <h5 class="slider__heading">
                Dania orientalne
              </h5>
              <p class="slider__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptates!
              </p>
            </figcaption>
          </figure>
        </li>
  
        <li class="slider__item">
          <figure class="slider__figure">
            <img src="https://ik.imagekit.io/MatiPl01/tr:w-600/restaurant/charles-deluvio-PqsImnjuElM-unsplash.jpg" alt="Domowy gulasz z ryżem" class="slider__image">
            <figcaption class="slider__caption">
              <h5 class="slider__heading">
                Domowe dania
              </h5>
              <p class="slider__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, natus?
              </p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</div>
