/* Global styles */
html {
    font-size: 62.5%; /* Equivalent of 10px */
}

body {
    box-sizing: border-box;

    width: 100vw !important;
    max-width: 100vw !important;
    
    overflow-x: hidden;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* User styles */
.section-gallery {
    padding: 7.5rem 0;
}

.gallery {
    width: 140rem;
    max-width: 90vw;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2rem;

    justify-content: space-between;
}

.gallery__figure {
    width: 32.5%;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .5);
}

/* IMPORTANT
Set all cards heights to be the same
(automatically adjusted to the height of the highest content in a card
VERY NICE TRICK)
*/
/* .gallery__figure::before {
    content: '';
    float: left;
    padding-top: 100%;
} */

/* IMPORTANT
Set all cards to preserve the same aspect ratio (4:4)
*/
.gallery__figure::before {
    content: '';
    float: left;
    padding-top: 75%;
}

/* IMPORTANT - we must use background-image (not <img> tag)
because <img> changes the size of its container
*/

.figure__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.gallery__figure--1 .figure__img {
    background-image: url(./images/pexels-andy-vu-3244513.jpg);
}

.gallery__figure--2 .figure__img {
    background-image: url(./images/pexels-arthouse-studio-4534200.jpg);
}

.gallery__figure--3 .figure__img {
    background-image: url(./images/pexels-jess-loiterton-4319752.jpg);
}

.gallery__figure--4 .figure__img {
    background-image: url(./images/pexels-luis-del-río-15286.jpg);
}

.gallery__figure--5 .figure__img {
    background-image: url(./images/pexels-michael-block-3225517.jpg);
}

.gallery__figure--6 .figure__img {
    background-image: url(./images/pexels-stein-egil-liland-3408744.jpg);
}

.figure__caption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    min-height: 40%;
    background-color: rgba(255, 255, 255, .6);
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.figure__heading {
    font-size: 1.5rem;
    background-color: #0050DB;
    color: white;
    width: max-content;
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
}

.figure__text {
    display: flex;
}

.figure__author {
    margin-left: .5rem;
}

.figure__description,
.figure__author {
    font-size: 1rem;
    background-color: #5E5E5E;
    border-radius: 10rem;
    padding: .4rem 2rem;
    color: white;
}

@media only screen and (max-width: 1050px) {
    .gallery__figure {
        width: 47.5%;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 740px) {
    .gallery__figure {
        width: 100%;
    }
    
    .figure__caption {
        min-height: unset;
    }
}
