<div *ngIf="student" id="student">
  <div>
    <label>Imię:</label> {{ student.name }}
  </div>
  <div>
    <label>Wiek:</label> {{ student.age }}
  </div>
  <div>
    <label>Wybrany student:</label> {{ student.isActive }}
  </div>

  <button class="button is-small btn-danger" *ngIf="student.isActive"
    (click)='updateStudentState(false)'>Odznacz</button>
  <button class="button is-small btn-danger" *ngIf="!student.isActive"
    (click)='updateStudentState(true)'>Wybierz</button>
  <button class="button is-small btn-danger" (click)='deleteStudent()'>Usuń</button>
  <hr />
</div>
