@use '../../../styles.scss' as *;

.product {
    background-color: $color-gray-light-1;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1px .5rem rgba($color-black, .15);
    position: relative;

    &__button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        box-shadow: 0 0 .5rem rgba($color-black, .5);
        @include bg-gradient-primary;
        @include flex-center;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        filter: drop-shadow(0 0 .3rem rgba($color-black, .35));
    }

    &__content {
        display: flex;
    }
    
    &__figure {
        height: 12rem;
        width: 14rem;
        position: relative;
    }
    
    &__details {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__header {
        margin-bottom: 1rem;
    }

    &__heading {
        font-size: 1.8rem;
        color: $color-gray-dark-2;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__description {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    &__price {
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;

        &-text {
            font-size: 1.8rem;
            color: $color-gray-dark-3;
        }
    }

    &__footer {
        clear: both;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        border-top: 1px solid $color-gray-light-2;
        @include bg-gradient-primary;
    }

    &__quantity {
        outline: none;
        border: 1px solid $color-gray-light-3;
        border-radius: 10rem;
        height: 2.5rem;
        width: 4rem;
        text-align: center;
        color: $color-gray-dark-3;

        &::-webkit-inner-spin-button {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: textfield;
        }
    }

    &__summary {
        display: flex;
        align-items: flex-end;
        gap: .5rem;

        &-text {
            font-size: 1.6rem;
            margin-right: .5rem;
        }
    }
}