/* Global reset */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Variables */
/* Mixins */
/* Utilities */
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 75em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

/* Styles */
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #777;
  padding: 3rem;
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #55c57a;
  color: white;
}

::-webkit-scrollbar {
  width: 1.5rem;
  background: linear-gradient(45deg, #f0ffed, #91fdd9);
  box-shadow: inset 0 0 0.1rem #000;
  border: 0.1rem solid #fff;
  z-index: 1;
}
::-webkit-scrollbar:hover {
  box-shadow: inset 0 0 0.25rem #000;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(75deg, #7ed56f, #28b485);
  box-shadow: inset 0 0 0.2rem #000;
  border-radius: 1rem 0 0 1rem/1rem 0 0 1rem;
}
::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 0.4rem #000;
}

.row {
  display: flex;
  gap: 8rem;
  max-width: 114rem;
  margin: 0 auto;
}
.row .col {
  flex: 1 1 0;
}
@media only screen and (max-width: 56.25em) {
  .row {
    flex-direction: column;
    width: 100%;
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .row {
    flex-direction: column;
    max-width: 50rem;
  }
}

.section {
  background-color: #f7f7f7;
  padding: 10rem 5%;
}
@media only screen and (max-width: 56.25em) {
  .section {
    padding: 20rem 5%;
    padding-bottom: 35rem;
  }
}

.heading-primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #28b485, #7ed56f);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 2.5rem;
  }
}
.heading-primary:hover {
  transform: skew(15deg, 2deg) scale(1.1);
  text-shadow: 0.5rem 0.1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 95%;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.composition {
  position: relative;
  width: 100%;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  transition: all 0.4s;
  outline-offset: -1rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
  }
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 1rem;
    transform: scale(1.1);
  }
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 30;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
  }
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline-offset: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo:hover {
    outline: 0.6rem solid #55c57a;
    transform: scale(1.4) translateY(-0.5rem);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
    z-index: 40;
    outline-offset: 0.5rem;
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 56.25em) {
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(1.05);
  }
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}
.btn-text::after {
  content: "";
  display: inline-block;
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #55c57a;
  transform: translateX(-115%) skewX(-10deg);
}
.btn-text:hover {
  transform: scale(1.1);
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  color: #fff;
}
.btn-text:hover::after {
  transform: translateX(-5%);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}

/*# sourceMappingURL=style.css.map */
